{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <footer class="content__footer">
        <hr>
        <p class="related__title">$ ls related/</p>
        <ul class="related__list">
            {{ range . }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </footer>
    {{ end }}
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    <p>
        By {{ default .Site.Params.author .Params.author }}
        {{ if .Date }} · {{ .Date.Format "02/01/2006" }}{{ end }}
        · {{ .ReadingTime }} min read · {{ .WordCount }} words
    </p>

    {{ if and (.Params.toc) (.TableOfContents) }}
	    <hr>
	    On this page:
	    {{ .TableOfContents }}
    {{ end }}
{{ end }}
